[defaults]
inventory           = inventory/hosts.ini
remote_user         = ops
host_key_checking   = True
retry_files_enabled = False

[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
