version: 2
ethernets:
  ${network_interface}:
    dhcp4: false
    addresses:
      - ${ip_address}
    routes:
      - to: default
        via: ${gateway}
    nameservers:
      addresses: ${jsonencode(dns)}
      search: ${jsonencode([domain_name])}
